<head>
    <title> Simple Games</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <script scr="/vendor/js/bootstrap.min.js"></script>
</head>   