<!DOCTYPE html>
<html lang='en'>
<%- include('./partials/head'); %>

<body>
<%- include('./partials/navbar'); %>
    <div class='container'>
        <div class="mx-auto form-width">
            <h1 class="text-center">Login</h1>
            <%- include('./partials/messages') %>
            <form method="post" action="/login">
                <hr>
                <div class="form-div">
                    <input placeholder="Username" type="text" class="form-input" name="uname">
                </div>
                <div class="form-group">
                    <input placeholder="Password" type="password" class="form-input" name="pname">
                </div>
                <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
            </form>
        </div>
    </div>
</body>

</html>