<!DOCTYPE html>
<html>
<%- include('./partials/head'); %>
<body>
    <%- include('./partials/navbar'); %>
    <div class='container'>
        <div class="mx-auto form-width">
            <h1 class="text-center">Sign Up</h1>
            <%- include('./partials/messages'); %>
            <form method="post" action="/signup">
                <hr>
                <div class="form-div">
                    <p id="error1"></p>
                    <input required placeholder="Username" type="text" class="form-input" name="reg_uname" id="uname_signup">
                </div>
                <div class="form-group">
                    <input required placeholder="Password" type="password" class="form-input" name="reg_pword" id='pword_signup'>
                </div>
                    <p id="error2"></p>
                <div class="form-group">
                    <input required placeholder="Password (again)" type="password" class="form-input" name="reg_pword_confirm" id='pword_signup_2'>
                </div>
                <button class="btn btn-lg btn-success btn-block" type="submit">Sign up</button>
            </form>
        </div>
    </div>
    <script src='/javascripts/signin.js'></script>
</body>

</html>