body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#error1{
  color: red;
}

.navbarAnchor {
  padding: 1rem;
  color:lightgray;
}

.form-div{
  margin-bottom: 1rem;
}

.form-input{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  color: black;
  background: white;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.form-input:focus{
  border-color: skyblue;
}

.navbarAnchor:hover{
  text-decoration: none;
  filter: brightness(5.00);
  color:lightgray;
}

a {
  color: #00B7FF;
}

.form-width{
  max-width: 500px;
  margin-top: 1rem;
}

.white-text{
  color: white;
}

.chat-box{
  grid-area: chat;
  margin-top: 2vmin;
  justify-content: stretch;
  min-height: 15em;
}

.chat-heading{
  flex: 0 0 auto;
  display: flex;
}

.chat-content{
  background: #fff;
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-message{
  min-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: initial;
  font-size: .9em;
  overflow-wrap: break-word;
  word-break: break-word;
  list-style: none;
  padding-inline-start: 0%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "chat content";
  height: 100vh;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    "rps-input";
  grid-area: content;
}
.rps-input { grid-area: rps-input; }